.sidebar {
    width: 293px;   
    position: fixed;
}

.user {
    height: 118px;
    position: relative;
}

.user > div:first-child {
    position: relative;
    top: 22.7px;
    display: flex;
    align-items: center;
}

.usuario {
    display: flex;
    align-items: center;
}

.sugestao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.sugestao2 {
    position: absolute;
    bottom: 0px;
    width: 293px;
}

.sidebar h1 {
    font-weight: 500;
    font-size: 14px;
    color: #262626;
}

.sidebar div h2 {
    font-weight: 500;
    margin-top: 5px;
}

.sidebar img{
    margin-right: 15px;
}

img.img-menor {
    width: 32px;
}