body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

a {
    text-decoration: none;
    color: #B2DFFC;
}

a:hover {
    color: #0095F6;
    transition: 300ms;
}

h2 {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 12px;
}

h3 {
    color: #139EF2;
    font-weight: 500;
    font-size: 12px;
}

p{
   margin-top: 30px;
   font-size: 11px;
   font-weight: 400;
   color: #C7C7C7; 
}

strong {
    font-weight: 500;
}

video {
    width: 610px;
}

ion-icon {
    font-size: 24px;
}