header {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    border-bottom: 1px solid #DBDBDB;
    z-index: 10;
}

.topo {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 935px;
    margin: 0 auto;
}

.logo {
    background-color: white;
    display: flex;
    align-items: center;
}

.separador-vertical {
    background-color: #DBDBDB;
    width: 1px;
    height: 22px;
    margin: 0px 10px;
}

.logo img {
    margin-top: 4px;
}

.topo input {
    width: 215px;
    height: 28px;
    border-radius: 3px;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
}

.icones {
    background-color: white;
    display: flex;
    align-items: center;
}

.icones ion-icon {
    margin-left: 20px;
}