.topo-mobile {
    display: none;
}

.lowbar {
    display: none;
}

@media (max-width: 935px) {

    aside {
        display: none;
    }

    main {
        justify-content: center;
        width: 614px;
    }

    .conteudo {
        margin: 0;
    }

    .topo {
        padding: 0px 20px;
    }
}

/******* layout mobile *****/

@media (max-width: 614px) {

    .topo {
        display: none;
    }

    .topo-mobile {
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 614px;
        margin: 0 auto;
        padding: 0 15px;
    }

    main {
        width: 100%;
        margin-top: 54px;
        justify-content: center;
        margin-bottom: 54px;
    }

    .conteudo {
        width: 100%;
    }

    .conteudo-topo {
        margin-bottom: 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    .seta {
        display: none;
    }

    .post {
        border: 0;
    }

    .post > img {
        width: 100%;
    }

    .lowbar {
        height: 54px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 15px;
        box-sizing: border-box;
        border-top: 1px solid #DBDBDB;
    }
}